{% extends 'base.html'%}
{% block content%}
<main>
          <h1 class="flex items-center justify-center font-bold text-2xl mt-20">Quora for Engineering Students</h1>
          <br/>
          <p class="mx-40 leading-8 font-semibold">
            QES is a question and answer website for Engineering students. We tend to create a flagship
            site similar to the Stack Overflow Site of the Stack Exchange Network, created in 2008 by Jeff
            Atwood and Joel Spolsky. QES features questions and answers on a wide range of topics in
            Engineering. Our notion of a better-connected engineering community to tackle all kinds of
            academic and non Academical questions and problems would make the engineering
            community better. Establishing a community-based platform like this would help bypass the
            location barrier for Engineering students.
          </p>
          <br>
          <span class="flex items-center font-bold justify-center mt-10">Contact Us: abhishek95381@gmail.com</span>
</main>
{% endblock content %}
