{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        input {max-width: 20em};
    </style>
    <title>Sign Up</title>
</head>
<body>      
    <div class="w-1/2 pb-10 pt-10 rounded-md border-l border-r border-t border-b border-gray-300 shadow-xl overflow-hidden mt-20 mx-[22rem] flex items-center justify-center">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 font-extrabold">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            
            <div class="form-group">
                <button class=" hover:bg-gray-900 hover:text-white text-gray-400 w-40 h-10  bg-gradient-to-r bg-gray-800 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800  rounded-full   text-center" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="font-bold">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}"><br>Log In</a>
            </small>
        </div>
    </div>

</body>
</html>
